@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Space+Grotesk&display=swap');

*{
    font-family: 'Castoro', serif;
}


body{
    background-color: #262525;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    letter-spacing: -.8;

}

p{
    letter-spacing: 1px;
    line-break: anywhere;
    padding: 20px;
    font-size: 12px;
}

.p3{
    font-size: 20px;
    text-align: center;
}

h1{
    padding: 25px;
    font-size: 40px;
    color: black;

}

h2{
    letter-spacing: 2px;
}

.p1{
    padding: 30px;
}


a{
    text-decoration: none;
    color: cornsilk;
}

a:hover{
    color: white;
    text-decoration: underline;
}

img{
    max-width: 100%;
}

#navbar{
    background-color: black;
   
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    z-index: 100;

}

#navbar li{
    float: left;
}

#navbar li a{
    display: inline-block;
    padding: 20px 114px;
    font-size: 1em;
    text-align: center;
    color: snow;
}

#navbar li a:hover, #navbar li.active a{
    background-color: #e5753d;
    

}

.myicon{
    font-size: 1.5em;
    color: white;
    padding: 10px;
    display: none;
    text-align: right;
}

.mb-screen{
    display: block;

}

#wrapper {
    margin: 0 auto;
    top: 40px;
    position: relative;
    max-width: 1180px;
}

#wrapper header{
    height: 120px;
    padding: 10px 20 px;
    text-align: center;
    background-color: #e5753d;
    border-radius: 70px;
}

#first{
    padding: 20px;
    float: left;
    width: 33%;
    text-align: center;
}

#second{
    padding: 20px;
    float: left;
    width: 34%;
    text-align: center;

}

#third{
    padding: 20px;
    float: left;
    width: 33%;
    text-align: center;
}

footer{
    clear: both;
    border: 1px solid white;
    width: 100%;
    padding: 10px;

}

@media screen and (max-width:500px){

    #wrapper{
        padding: 2%;
        max-width: 100%;
    }

    #first{
        padding: 3%;
        width: 44%;
    }
    
    #second{
        padding: 3%;
        float: right;
        width: 44%;
    
    }
    
    #third{
        padding: 5%;
        clear: both;
        width: 90%;
    }

    footer{
        padding: 0;
        max-width: 100%;
    }

    #wrapper header{
        height: auto;
        padding: 0;
        border-radius: 0;
    }

    .mb-screen{
       display: none;
    }
    
    #navbar li{
        float: none;
        display: block;
    }

    
    #navbar li a{
        padding: 7px;
        text-align: right;
        width: 94%;
    }

    #navbar li a:hover{
        background-color: blanchedalmond;
    }
    
    .myicon{
        display: block;
        width: 94%;
    }
   
}

@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Space+Grotesk&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Castoro', serif;
}

.contact{
    width: 505px;
    background: #E3966F;
    padding: 50px;
    margin: 100px auto;
    border-radius: 30px;
    position: relative;
}

.title h1{
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.form,
.form-item{
    width: 100%;
}

.form-item .input{
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 40px;
    box-sizing: border-box;
    background: #ebeef1;
    border: 0;
    outline: none;
    border-radius: 20px;
}

.form-item .input .message{
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px;
    resize: none;

}

.btn{
    background: black;
    text-align: center;
    color: snow;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
}

.btn .fas{
    margin-left: 10px;
    font-size: 16px;
}

.form-item{
    position: relative;
}

.form-item .fas{
    position: absolute;
    top: 15px;
    left: 15px;
    color: black;
}

.social-icons{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.social-icons div{
    width: 50px;
    height: 50px;
    background: cadetblue;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.social-icons div .fab{
    position: absolute;
    top: 33%;
    left: 40%;
    transform: translateX(-50%, -50%);
    color: #ffffff;

}

.social-icons div.facebook{
    background: #5178d9;
}

.social-icons div.twitter{
    background: #41caf6;
}

.social-icons div.instagram{
    background: #e95950;
}





* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  